.ember-emoji-picker {
  .emoji-entity {
    position: relative;
    display: inline-block;
    padding: 4px;

    &:hover{
      background-color: #eeeeee;
      border-radius: 100%;
    }

    .emoji {
      display: block;
      width: 24px;
      height: 24px;
      font-size: 24px;
      overflow: hidden;
    }
  }
}
