.ember-emoji-picker {

  .eep-categories {
    overflow-y: scroll;
    height: 270px;
    padding: 0 6px 6px 6px;
  }

  .eep-category {

    &-label {
      z-index: 2;
      position: relative;
      position: -webkit-sticky;
      position: sticky;
      top: 0;

      span {
        display: block;
        width: 100%;
        font-weight: 500;
        padding: 5px 6px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, .95);
      }
    }

    .eep-emoji {

      &:hover:before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        border-radius: 100%;
      }

      span {
        z-index: 1;
        position: relative;
        text-align: center;
        cursor: default;
      }
    }
  }

  .eep-no-results {
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    color: #858585;

    &-label {
      margin-top: .2em;
    }

    .eep-category-label {
      display: none;
    }

    .eep-emoji:hover:before {
      content: none;
    }
  }
}
